.budgetItem {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.inputsWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  /* flex-wrap: wrap; */
}

.control {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 0.5rem;
}
.control input {
  height: 1.8rem;
  width: 3rem;
}
.control select {
  width: 10rem;
  height: 1.8rem;
}

@media screen and (min-width: 768px) {
  .inputsWrapper {
    /* max-width: 40rem;
    min-width: 33rem; */
    flex-wrap: nowrap;
  }
}
